h1{
  font-size: 3rem;
  line-height: 1.75;
  color: white;
  font-weight: bold;
}
body{
  font-family: 'Montserrat',sans-serif;
}
.container-fluid{
  padding: 3% 15%;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2rem;
  font-weight: bold;
}
.navbar{
  padding:0 0 4.5rem;
}
.nav-item{
  padding: 0 18px 0;
}
.download-btn{
  margin:5% 3% 5% 0;
}
.image-iphone{
  width: 60% ;
  transform: rotate(25deg);
  position: absolute;
}
#features{
  padding: 7% 15%;
  position: relative;
  z-index: 1;
  background-color: white;
}
.feature{
  text-align: center;
}
.feature-icon{
  color: #ef8172;
  font-size:70px;
  margin-bottom: 20px;
}
.feature-icon:hover{
  color:#ff4c68;
}
.feature-heading{
  font-weight: bold;
  font-size: 1.5rem;
}
.feature-detail{
  color:#8f8f8f;
  width: 70%;
  margin: auto;
}
#testimonials{
  padding:7% 15%;
  background-color:#ff4c68;
  color: white;
  text-align: center;
}
h2{
  font-family: "Montserrat";
  font-weight: bold;
  width: 70%;
  margin: auto;
  line-height:1.5;
}
.testimonial-image{
  border-radius: 100%;
  width: 20%;
  margin: 10px;
}
#press{
  background-color: white;
  text-align: center;
  margin: 10% 10%;

}
.press-logo{
  margin: 40px 15px 0px 15px;
  width: 20%;
}
#pricing{
  text-align: center;
  padding: 100px;
}
.card{
  margin: 20px 15px 40px 15px;
}
#cta,#footer{
  background-color: #ff4c68;
  color: white;
  padding: 5% 5% 3%;
  text-align: center;
}
#footer{
  background-color: white;
  color:grey;
}
.copyright-p{
  margin-bottom:0;
  font-family: "Montserrat";
}
.h3-last{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 50px;
  width: 70%;
  margin: auto;
  padding: 40px 0;
}
.footer-images{
    margin:10px;
}
#title{
  background-color: #ff4c68;
}
